<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
  var es = new EventSource('/chat/' + Math.random());

  es.onmessage = function (e) {
    const data = JSON.parse(event.data)
    if (data.error) {
        console.error("Error:", data.error)
    } else {
        console.log("Received:", data)
    }
  };
  es.addEventListener('myevent', function (e) {
    console.log(e.data);
  });

</script>
<h1>look at the console</h1>
</body>
</html>